@import "./loan-card.scss";

.loan-details-wrapper {
 .btn-back {
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
 }

 .btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  .btn {
   @include mq("t-768", "max") {
    width: 100%;
   }
  }
 }
}

.loan-details-header {
 display: flex;
 flex-direction: row;
 margin-bottom: 24px;
 column-gap: 24px;

 @include mq("t-768", "max") {
  flex-direction: column;
 }

 >div {
  flex: 1;
 }

 .loan-details {
  flex: 1;

  @include mq("t-768", "max") {
   margin-bottom: 16px;
  }

  p {
   @include Font-Semibold;
   margin-bottom: 3px;

   span {
    color: var(--color-sub);
   }
  }
 }

 .recharts-wrapper {
  @include mq("t-768", "max") {
   height: 100px !important;
   width: 260px !important;
   margin-left: calc(100vw - 260px * 1.25);
  }
 }

 .chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq("t-768", "max") {
   border-bottom: 1px solid var(--color-border);
   padding-bottom: 16px;
  }

  .chart {
   height: 130px;
   position: relative;
   width: 100%;

   @include mq("t-768", "max") {
    height: 100px;
   }

   .remaning-emi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgb(51, 51, 51);

    @include mq("t-768", "max") {
     transform: translate(calc(-50% + 9px), -50%);
    }
   }
  }

  p {
   margin-top: 10px;
   @include Font-Semibold;

   @include mq("t-768", "max") {
    margin-top: 5px;
   }
  }
 }
}

.add-loan-form.comp-definition {
 .btn-wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
 }

 .input-wrapper {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid;
 }

 .input-outter {
  display: flex;

  .input-wrapper {
   border: none;
   margin-bottom: 0;

   // &:last-child {
   //  margin-bottom: 0;
   // }
  }

  >div {
   flex: 1;
   border: 1px solid;
   margin-bottom: 10px;

   &:nth-child(2) {
    border-left: 0;
   }
  }

  .combination {
   display: flex;

   .input-wrapper {
    flex: 1;
   }
  }
 }

 h2 {
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--color-sub);
 }

 h3 {
  padding-bottom: 10px;
  font-size: 24px;
 }

 //////////
 .summary {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid var(--color-sub);
  border-radius: 10px;

  p {
   margin: 4px 0;
  }

  .btn {
   margin-top: 10px;
   width: 100%;
  }
 }

 .file-wrapper {
  display: flex;
  flex-direction: column;
 }
}


.edit-profile-modal {
 .btn-wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
 }

 .input-wrapper {
  margin-bottom: 10px;
 }

 h2 {
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--color-sub);
 }

 .file-wrapper {
  display: flex;
  flex-direction: column;

  input {
   border: none;
   height: initial;
   padding: 0;
   margin-top: 5px;
  }
 }
}

// .loan-details {
//  th {
//   &:nth-child(2) {
//    background-color: #88a825;
//    color: var(--color-white);
//   }

//   &:nth-child(3) {
//    background-color: #ed8c2b;
//    color: var(--color-white);
//   }

//   &:nth-child(5) {
//    background-color: var(--color-error);
//    color: var(--color-white);
//   }
//  }
// }