:root {
	--color-white: #ffffff;
	--color-black: #000;

	--color-error: #da5050;

	--color-place: #a99999;
	--color-border: #d9dbe3;
	--color-text: #30323d;
	--color-link: #348bff;
	--color-primary: #5233ed;
	--color-title: #171768;
	--color-gray: #5e5656;
	--color-sub: #666666;
	--color-green: #008000;
}

.color-title {
	color: var(--color-title)
}

.color-gray {
	color: var(--color-gray)
}