:root {
	font-size: 100%;
}

#root {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

body {
	font-display: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	color: var(--color-text);
	@include Font-Medium;
	overflow: initial !important;
	font-size: 16px;

	@include mq("t-768", "max") {
		font-size: 14px;
	}

	.common-page {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		padding: 0 14px 14px;

		@include mq("t-992", "max") {
			padding: 0 8px 8px;
		}

		header {
			&.padding-next {
				+.body-content {
					// padding-top: var(--header-height);
					// padding-top: 239px;
					padding-top: 234px;

					@include mq("d-1200", "max") {
						// padding-top: 154px;
						padding-top: 247px;
					}

					@include mq("t-992", "max") {
						// padding-top: 154px;
						padding-top: 144px;
					}
				}
			}
		}

		main {
			flex: 1;
		}

		footer {}
	}
}

a {
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
}

img {
	.max-100 {
		max-width: 100%;
	}

	.w-100 {
		width: 100%;
	}
}


.table-reponsive {
	overflow-x: hidden;

	@include mq("t-768", "max") {
		// margin-right: -24px;
		overflow-x: scroll;
	}
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 16px;

	@include mq("t-768", "max") {
		margin-bottom: 0px;
		display: block;
		max-width: -moz-fit-content;
		max-width: fit-content;
		// overflow-x: auto;
		// white-space: nowrap;
	}
}

td,
th {
	min-width: 170px;
	border: 1px solid var(--color-pink);
	padding: 20px 24px;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: normal;
	vertical-align: top;

	@include mq("t-768", "max") {
		// min-width: 130px;
		min-width: 120px;
		padding: 14px;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: normal;
	}
}

th {
	line-height: 1.14;
	letter-spacing: 0.51px;
	text-transform: uppercase;
	background-color: var(--color-light-pink);
	white-space: nowrap;

	@include mq("t-768", "max") {
		padding: 14px;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.44px;
	}
}

.common-table {
	background-color: #eee;
	border-radius: 8px;
	border: 1px solid #c7bebe;
	border-right: none;

	th {
		background-color: #dedede;
		font-size: 16px;
		vertical-align: middle;

		@include mq("t-768", "max") {
			font-size: 12px;
		}

		&.principal {
			background-color: #88a825;
			color: var(--color-white);
		}

		&.intrest {
			background-color: #ed8c2b;
			color: var(--color-white);
		}

		&.balance {
			background-color: var(--color-error);
			color: var(--color-white);
		}

		&.loan-name {
			background-color: #d1c8fd;
		}

		&.green {
			color: green;
		}

		&.red {
			color: #ed8c2b;
		}
	}

	th,
	td {
		padding: 10px;
		border-bottom: 1px solid #c7bebe;
		border-right: 1px solid #c7bebe;
		color: var(--color-black);
		text-align: center;
	}


	.tr-year {
		&.Done {
			td {
				color: green;
			}
		}

		td {
			@include Font-Bold;

			&:nth-child(1) {
				cursor: pointer;
				@include Font-Black;
				color: var(--color-title);

				span {
					display: inline-flex;
					border: 1px solid;
					border-radius: 3px;
					height: 13px;
					align-items: center;
					justify-content: center;
					width: 12px;

				}
			}

			&.Today {}

			&.Pending {
				color: #ed8c2b;
			}

			&.Done {
				color: green;
			}
		}
	}

	.tr-details {
		>td {
			padding: 0;
			border: none;
		}

		table {
			margin: 0;
			border: none;


			td {
				// background-color: #dedede;
				background-color: #d4d2d2;
				padding: 7px 10px;

				&:nth-child(1) {
					color: var(--color-title);
					font-weight: 600;
				}
			}

			tr.done {
				td {
					background-color: rgb(180, 250, 227);
				}
			}
		}

		div {
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.3s ease-in-out;
		}

		&.open {
			div {
				max-height: 1000px;
			}

		}
	}

	.summary-row {
		background-color: #3c3838;
		@include Font-Bold;

		td {
			vertical-align: middle;
			color: var(--color-white);
			font-size: 16px;

			@include mq("t-768", "max") {
				font-size: 14px;
			}

			div {
				.paid {
					color: #88a825;
				}

				.rem {
					color: #ed8c2b
				}

				span {
					@include Font-Medium;
					color: var(--color-white);
				}
			}
		}
	}
}

.p-relative {
	position: relative;
}