:root {
	font-size: 100%;
}

#root {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

body {
	font-display: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	color: var(--color-text);
	@include Font-Regular;
	overflow: initial !important;
	font-size: 16px;

	@include mq("t-768", "max") {
		font-size: 14px;
	}

	.common-page {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		padding: 0 14px 14px;

		@include mq("t-992", "max") {
			padding: 0 8px 8px;
		}

		header {
			&.padding-next {
				+.body-content {
					// padding-top: var(--header-height);
					// padding-top: 239px;
					padding-top: 234px;

					@include mq("d-1200", "max") {
						// padding-top: 154px;
						padding-top: 247px;
					}

					@include mq("t-992", "max") {
						// padding-top: 154px;
						padding-top: 144px;
					}
				}
			}
		}

		main {
			flex: 1;
		}

		footer {}
	}
}

a {
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
}

img {
	.max-100 {
		max-width: 100%;
	}

	.w-100 {
		width: 100%;
	}
}


.table-reponsive {
	overflow-x: hidden;

	@include mq("t-768", "max") {
		// margin-right: -24px;
		overflow-x: scroll;
	}
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 16px;

	@include mq("t-768", "max") {
		margin-bottom: 0px;
		display: block;
		max-width: -moz-fit-content;
		max-width: fit-content;
		// overflow-x: auto;
		// white-space: nowrap;
	}
}

td,
th {
	min-width: 170px;
	border: 1px solid var(--color-pink);
	padding: 20px 24px;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: normal;
	vertical-align: top;

	@include mq("t-768", "max") {
		// min-width: 130px;
		min-width: 120px;
		padding: 14px;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: normal;
	}
}

th {
	line-height: 1.14;
	letter-spacing: 0.51px;
	text-transform: uppercase;
	background-color: var(--color-light-pink);
	white-space: nowrap;

	@include mq("t-768", "max") {
		padding: 14px;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.44px;
	}
}

.common-table {
	background-color: #eee;
	border-radius: 8px;
	border: 2px solid #000;
	// border-right: none;

	th {
		background-color: #dedede;
		font-size: 16px;
		vertical-align: middle;

		@include mq("t-768", "max") {
			font-size: 15px;
		}

		// &.principal {
		// 	background-color: #88a825;
		// 	color: var(--color-white);
		// }

		// &.intrest {
		// 	background-color: #ed8c2b;
		// 	color: var(--color-white);
		// }

		// &.balance {
		// 	background-color: var(--color-error);
		// 	color: var(--color-white);
		// }

		// &.loan-name {
		// 	background-color: #d1c8fd;
		// }

		// &.green {
		// 	color: green;
		// }

		// &.red {
		// 	color: #ed8c2b;
		// }

		&.code {
			background-color: #cdcecb;
			font-size: 14px;
			font-style: italic;
			font-weight: 500;
		}
	}

	&.comap-code {
		thead {
			tr {
				th {
					&:nth-child(1) {
						background-color: #434343;
						color: #fff;
					}
				}
			}
		}
	}

	&.sales-org {
		th {
			&:nth-child(1) {
				background-color: #ead1dc;
			}
		}
	}

	&.dis-channel {
		th {
			&:nth-child(1) {
				background-color: #cfe2f3;
			}
		}
	}

	&.division {
		th {
			&:nth-child(1) {
				background-color: #b6d7a8;
			}
		}
	}

	&.sales-ofc {
		th {
			&:nth-child(1) {
				background-color: #ffd966;
			}
		}
	}

	&.sales-group {
		th {
			&:nth-child(1) {
				background-color: #3c78d8;
				color: #fff;
			}
		}
	}

	&.plant {
		th {
			&:nth-child(1) {
				background-color: #85200c;
				color: #fff;
			}
		}
	}

	&.st-loc {
		th {
			&:nth-child(1) {
				background-color: #9900ff;
				color: #fff;
			}
		}
	}

	&.sh-point {
		th {
			&:nth-child(1) {
				background-color: #ff6d01;
				color: #fff;
			}
		}
	}

	th {
		padding: 8px 10px;
		border-bottom: 2px solid #000;
		border-right: 2px solid #000;
		color: var(--color-black);
		text-align: center;
		vertical-align: middle;
	}

	td {
		padding: 6px 10px;
		border-bottom: 1px solid #c7bebe;
		border-right: 1px solid #c7bebe;
		color: var(--color-black);
		text-align: center;
		vertical-align: middle;

		@include mq("t-768", "max") {
			white-space: nowrap;
		}
	}


	.tr-year {
		// &.Done {
		// 	td {
		// 		color: green;
		// 	}
		// }

		td {
			@include Font-Bold;

			&:nth-child(1) {
				cursor: pointer;
				@include Font-Black;
				color: var(--color-title);

				span {
					display: inline-flex;
					border: 1px solid;
					border-radius: 3px;
					height: 13px;
					align-items: center;
					justify-content: center;
					width: 12px;

				}
			}

			&.Today {}

			&.Pending {
				color: #ed8c2b;
			}

			&.Done {
				color: green;
			}
		}
	}

	.tr-details {
		>td {
			padding: 0;
			border: none;
		}

		table {
			margin: 0;
			border: none;


			td {
				// background-color: #dedede;
				background-color: #d4d2d2;
				padding: 7px 10px;

				&:nth-child(1) {
					color: var(--color-title);
					font-weight: 600;
				}
			}

			tr.done {
				td {
					background-color: rgb(180, 250, 227);
				}
			}
		}

		div {
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.3s ease-in-out;
		}

		&.open {
			div {
				max-height: 1000px;
			}

		}
	}

	.summary-row {
		background-color: #3c3838;
		@include Font-Bold;

		td {
			vertical-align: middle;
			color: var(--color-white);
			font-size: 16px;

			@include mq("t-768", "max") {
				font-size: 14px;
			}

			div {
				.paid {
					color: #88a825;
				}

				.rem {
					color: #ed8c2b
				}

				span {
					@include Font-Medium;
					color: var(--color-white);
				}
			}
		}
	}
}

//assignment-table
.assignment-table-wrapper {
	@include mq("t-768", "max") {
		margin-bottom: 16px;
	}

	h2 {
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: 800;

		// color: var(--color-link);
		@include mq("t-768", "max") {
			text-transform: initial;
		}
	}
}

.assignment-table {

	thead {
		tr {
			th {


				@include mq("t-768", "min") {
					font-size: 18px;
				}

				x &.ccode {
					background-color: #434343;
					color: #fff;
				}

				&.sorg {
					background-color: #ead1dc;
				}

				&.dchl {
					background-color: #cfe2f3;
				}

				&.division {
					background-color: #b6d7a8;
				}

				&.soffice {
					background-color: #ffd966;
				}

				&.sgroup {
					background-color: #3c78d8;
					color: #fff;
				}

				&.plant {
					background-color: #85200c;
					color: #fff;
				}

				&.spoint {
					background-color: #ff6d01;
					color: #fff;
				}

				&:not([class]) {
					font-size: 13px;
					font-weight: 500;
					font-style: italic;
				}
			}
		}
	}

	tbody {
		tr {
			td {
				&:nth-child(even) {
					font-size: 12px;
				}

				&:nth-child(odd) {
					font-size: 16px;
					font-weight: 600;
				}
			}
		}
	}



	&.revstyle {
		tbody {
			tr {
				td {

					&:nth-child(1),
					&:nth-child(2) {
						font-size: 15px;
						font-weight: 600;
					}

					&:nth-child(3),
					&:nth-child(3) {
						font-size: 12px;
						font-weight: 400;
					}
				}
			}
		}
	}
}

.definition-table {
	tbody {
		tr {
			td {
				&:nth-child(1) {
					font-size: 16px;
				}

				@include mq("t-768", "max") {
					min-width: 180px;
				}
			}
		}
	}
}

.p-relative {
	position: relative;
}

//assignment-table
.sap-table-wrapper {
	@include mq("t-768", "max") {
		margin-bottom: 16px;
	}

	h2 {
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: 800;

		@include mq("t-768", "max") {
			text-transform: initial;
		}
	}

	td,
	th {
		font-weight: 500;
	}

	thead {
		tr {
			th {
				color: #fff;
				border: 1px solid;
			}
		}
	}

	&.enterpriseStructure {
		table {
			border-color: #024bbf;

			thead {
				tr {
					th {
						background-color: #024bbf;
						color: #fff;
						border: 1px solid #5190f5;
					}
				}
			}

			tbody {
				tr {
					td {
						border-color: #5190f5;
					}
				}
			}
		}
	}

	&.businessPartner {
		table {
			border-color: #c64e06;

			thead {
				tr {
					th {
						background-color: #fb5e00;
						color: #fff;
						border: 1px solid #f6a778;
					}
				}
			}

			tbody {
				tr {
					td {
						border-color: #f6a778;
					}
				}
			}
		}
	}

	&.materialMaster {
		table {
			border-color: #063c91;

			thead {
				tr {
					th {
						background-color: #034bba;
						color: #fff;
						border: 1px solid #5190f5;
					}
				}
			}

			tbody {
				tr {
					td {
						border-color: #5190f5;
					}
				}
			}
		}
	}

	&.pricing {
		table {
			border-color: #c86c02;

			thead {
				tr {
					th {
						background-color: #fc8700;
						color: #fff;
						border: 1px solid #edb779;
					}
				}
			}

			tbody {
				tr {
					td {
						border-color: #edb779;
					}
				}
			}
		}
	}

	&.salesOrderProcessing {
		table {
			border-color: #036064;

			thead {
				tr {
					th {
						background-color: #02858b;
						color: #fff;
						border: 1px solid #04b3bb;
					}
				}
			}

			tbody {
				tr {
					td {
						border-color: #04b3bb;
					}
				}
			}
		}
	}

	&.deliveryProcessing {
		table {
			border-color: #631c77;

			thead {
				tr {
					th {
						background-color: #802a98;
						color: #fff;
						border: 1px solid #be68d5;
					}
				}
			}

			tbody {
				tr {
					td {
						border-color: #be68d5;
					}
				}
			}
		}
	}

	&.invoiceProcessing {
		table {
			border-color: #c02264;

			thead {
				tr {
					th {
						background-color: #e8337d;
						color: #fff;
						border: 1px solid #f592ba;
					}
				}
			}

			tbody {
				tr {
					td {
						border-color: #f592ba;
					}
				}
			}
		}
	}

}