// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@mixin font-face($font-weight, $font-style) {
	// font-family: "Manrope", sans-serif;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: $font-weight;
	font-style: $font-style;
}

// @mixin Font-Black {
// 	@include font-face(900, normal);
// }

// @mixin Font-Bold {
// 	@include font-face(700, normal);
// }

// @mixin Font-Medium {
// 	@include font-face(500, normal);
// }

// @mixin Font-Semibold {
// 	@include font-face(600, normal);
// }

// @mixin Font-Regular {
// 	@include font-face(400, normal);
// }

// @mixin Font-Italic {
// 	@include font-face(400, italic);
// }

// @mixin Font-Light {
// 	@include font-face(300, normal);
// }

@mixin Font-Ebold {
	@include font-face(900, normal);
}

@mixin Font-Black {
	@include font-face(800, normal);
}

@mixin Font-Bold {
	@include font-face(700, normal);
}

@mixin Font-Semibold {
	@include font-face(600, normal);
}

@mixin Font-Medium {
	@include font-face(500, normal);
}

@mixin Font-Regular {
	@include font-face(400, normal);
}

@mixin Font-Light {
	@include font-face(300, normal);
}

.font-bold {
	@include Font-Bold;
}

////
.f14 {
	font-size: 14px;
}

.f12 {
	font-size: 12px;
}

.font-medium {
	@include Font-Medium;
}

.font-semibold {
	@include Font-Semibold;
}

.font-bold {
	@include Font-Bold;
}