//====================* Form Style Start *=======================


.form-control {

  &:focus {}

  &.error {}
}

///
.input-wrapper {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    margin-bottom: 3px;
    // color: var(--color-gray);
    color: var(--color-sub);
    @include Font-Semibold;
  }

  input {
    touch-action: manipulation;
    font-size: 14px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    padding: 4px 15px;
    color: var(--color-text);

    @include input-placeholder {
      color: var(--color-place);
    }
  }

  .input-group-btn {

    .btn {}
  }
}




////////////// iphone zoom scss
@media screen and (device-aspect-ratio: 375/667) {

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 14px;
  }
}

@media screen and (device-aspect-ratio: 9/16) {

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 14px;
  }
}