@import "./utilities/utilities-dir";
@import "./modal.scss";
@import "./header.scss";
@import "./Loan/addLoan.scss";
@import "./loanCalculator.scss";
@import "./home.scss";
@import "./outstanding.scss";


// .banner-img {
//  position: relative;
//  background-image: url("https://zllthcfaewfehlioancy.supabase.co/storage/v1/object/public/IMAGES/bannerimg.webp");
//  height: 500px;
//  background-size: cover;
//  background-position: top left;
//  margin: -24px -15px 0;

//  >div {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   height: 100%;
//   width: 100%;
//   background-color: rgba(0, 0, 0, .4);
//  }
// }
.logoutuser {
 display: flex;
 align-items: center;
 flex: 1;

 >div {
  width: 100%;
 }
}

.home-banner {
 >div {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;

  @include mq("t-768", "max") {
   max-width: 100%;
  }
 }

 p {
  @include Font-Bold;
  font-size: 18px;

  @include mq("t-768", "max") {
   font-size: 15px;
  }
 }

 h1 {
  text-align: center;
  @include Font-Ebold;

  @include mq("t-768", "max") {
   font-size: 26px;
  }

  span {
   color: var(--color-link)
  }
 }

 h2 {
  margin-bottom: 10px;
 }

 ul {
  // padding-left: 41px;
  margin-top: 15px;
  margin-bottom: 15px;

  // @include mq("t-768", "max") {
  //  padding-left: 0px;
  // }

  li {
   margin-bottom: 2px;
  }
 }

 .sub {
  font-size: 30px;
  letter-spacing: 1.5px;
  @include Font-Bold;
  margin-bottom: 30px;

  span {
   position: relative;
   padding-bottom: 15px;

   &:after {
    content: "";
    height: 4px;
    width: 30%;
    background-color: var(--color-link);
    position: absolute;
    left: 0;
    bottom: 0;
   }
  }
 }

 .subtext {
  p {
   font-size: 24px;

   &:nth-child(1) {
    margin-bottom: 5px;
   }

   &:nth-child(2) {
    @include Font-Medium;
    color: var(--color-link);
   }
  }

 }

 .img-wrapper {
  margin: 10px 0;

  img {
   max-width: 600px;
  }
 }


 .btn-primary {
  margin-top: 15px;
  animation-name: bounce;
  animation-duration: 1.5s;
  /* Adjust for faster/slower bounce */
  animation-timing-function: ease-in-out;
  /* Controls acceleration/deceleration */
  animation-iteration-count: infinite;
 }

 &.logedout {
  // >div {
  //  margin-top: 20vh;

  //  @include mq("t-768", "max") {
  //   margin-top: 30px;
  //  }
  // }
  h1 {
   font-size: 58px;

   @include mq("t-768", "max") {
    font-size: 26px;
   }
  }
 }

 &.logedin {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 24px;
 }

 .subtext,
 .img-wrapper {
  display: none;
 }
}

.add-new-loan {
 background-color: var(--color-primary);
 color: var(--color-white);
 font-size: 48px;
 @include Font-Bold;
 cursor: pointer;
 position: fixed;
 z-index: 1;
 border-radius: 50%;
 border: none;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 50px;
 width: 50px;
 right: 30px;
 bottom: 50px;
 animation-name: bounce;
 animation-duration: 1s;
 /* Adjust for faster/slower bounce */
 animation-timing-function: ease-in-out;
 /* Controls acceleration/deceleration */
 animation-iteration-count: infinite;

 /* Makes the animation repeat continuously */
 @include mq("t-768", "max") {
  height: 40px;
  width: 40px;
  right: 15px;
  bottom: 20px;
  font-size: 30px;
 }

 &:hover {
  animation-play-state: paused;
 }
}

@keyframes bounce {

 0%,
 100% {
  transform: translateY(0);
  /* Start and end at original position */
 }

 50% {
  transform: translateY(-10px);
  /* Adjust for desired bounce height */
 }
}

.vanta-birds {
 height: 100vh;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
}