// src/components/LoginPage.scss
.reset-container {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: calc(90svh - 66px);

 .reset-form {
  width: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  h1 {
   text-align: center;
   margin-bottom: 24px;
  }

  input {
   width: 100%;
  }

  .note {
   font-size: 12px;
   margin-top: 10px;
  }

  .btn-wrapper {
   .btn {
    width: 100%;
   }
  }
 }
}